body {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: azure;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: goldenrod;
  text-align: center;
  font-family: Geneva;
}

h5 {
  color: whitesmoke;
  text-align: center;
  font-family: Tahoma;
}

.header {
  cursor: not-allowed;
  background-color: black;
  padding: 10pt;
}

.body {
  text-align: center;
}

.footer {
  cursor: not-allowed;
  color: whitesmoke;
  text-align: center;
  font-family: Tahoma;
  font-size: 9pt;
  padding: 25pt;
}

.navbar {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: auto;
}

/* Style the buttons inside the navbar */
.navbar button {
  background-color: inherit;
  position: relative;
  left: 40%;
  right: 60%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.navbar button:hover {
  background-color: #ddd;
}

/* Create an active/current navbarlink class */
.navbar button.active {
  background-color: #ccc;
}
